@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  width: 100%;
  font-family: Roboto;
}

html, body {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #f6f6f6;
  font-family: Shrikhand;
  font-size: 1.5em;
  font-weight: 500;
  width: 90%;
  margin: 0px auto;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  width: 90%;
  margin: 0px auto;
  padding-top: 10px;
}

header {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  justify-content: center;
  padding: 20px 0px 10px 0px;
}

.header__logo {
  width: 44%;
}
.header__btn-retour {
  top: 25px;
  left: 20px;
  position: absolute;
  width: auto;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5%;
  background-color: #eaeaea;
  background: linear-gradient(to bottom, #cfcfcf, #eaeaea 5px, #eaeaea);
  padding: 15px 0px;
}
.localisation__logo {
  width: 12px;
}
.localisation__saisie {
  width: auto;
}
.localisation__saisie input {
  width: auto;
  border: none;
  color: #353535;
  background-color: #eaeaea;
  font-size: 1em;
  font-family: Roboto;
  font-weight: 600;
}
.localisation__saisie input:active {
  border: 0px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.presentation__head {
  width: 65%;
  font-size: 1.5em;
  font-weight: 900;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.presentation__description {
  width: 90%;
  font: 300 1.1em Roboto;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.presentation__bouton_exp {
  margin: 35px 0px 55px 0px;
  font-weight: 400;
  color: white;
  border-radius: 30px;
  padding: 15px 20px;
  background: linear-gradient(350deg, #9356DC, #9356DC 5%, #FF79DA);
  width: auto;
  box-shadow: 0px 3px 5px #c6c6c6;
}

.fonctionnement {
  width: 90%;
  margin: auto;
}
.fonctionnement__head {
  font-size: 1.5em;
  font-weight: 900;
  margin: 50px 0px 10px 0px;
}
.fonctionnement__etapes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 65px;
}

.etape {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.etape__numero {
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  display: flex;
}
.etape__numero > span {
  width: auto;
  margin: auto;
}
.etape__texte {
  height: auto;
  font-weight: 700;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 25px 0px 25px 0px;
  box-shadow: 2px 2px 5px #c6c6c6;
}
.etape__texte i {
  width: auto;
  height: auto;
}
.etape__texte i::before {
  margin: 0px 20px 0px 30px;
  color: #7e7e7e;
}

.restaurants {
  width: 90%;
  margin: auto;
}
.restaurants__head {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 25px;
}
.restaurants__liste {
  row-gap: 15px;
}

.restaurant {
  height: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #c6c6c6;
  position: relative;
  margin-bottom: 15px;
}
.restaurant__image {
  border-radius: 20px 20px 0px 0px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  height: 175px;
  width: 100%;
}
.restaurant__head {
  font-weight: 800;
  font-size: 1em;
  width: 90%;
  margin: auto;
  padding: 20px 0px 5px 0px;
}
.restaurant__localisation {
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 20px;
  width: 90%;
  margin: 0px auto;
}
.restaurant__like {
  position: absolute;
  width: auto;
  bottom: 30px;
  right: 25px;
  font-size: 1.3em;
}
.restaurant__nouveau {
  font-size: 0.8em;
  font-weight: 600;
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 12px;
  right: 12px;
  width: auto;
  padding: 5px;
  border-radius: 2px;
}
.restaurant a {
  width: 335px;
  height: 255px;
}

.footer {
  width: 100%;
  margin: auto;
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}
.footer__head {
  width: 90%;
  margin: auto;
  font-family: Shrikhand;
  padding: 20px 0px;
}
.footer__liste {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 300;
}
.footer__liste i {
  width: 20px;
  margin-right: 5px;
}
.footer__liste--bold {
  font-weight: 500;
}
.footer__liste a {
  color: white;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 80px;
}
.menu__image {
  display: inline-block;
  background-position: center;
  background-size: cover;
  height: 255px;
  width: 100%;
}
.menu__head {
  background-color: #f6f6f6;
  position: absolute;
  top: 230px;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 0px;
}
.menu__head > i {
  position: absolute;
  width: 16px;
  margin: auto 0px;
  top: 40px;
  right: 20px;
}

.titre-liste {
  width: 100%;
  padding-bottom: 10px;
}
.titre-liste__trait {
  height: 3px;
  width: 40px;
  margin: 5px 0px 0px 20px;
  background-color: #99E2D0;
}

.service {
  width: 100%;
  row-gap: 10px;
  padding-bottom: 8px;
}

.plat {
  background-color: white;
  width: 90%;
  margin: 0px auto 15px auto;
  box-shadow: 2px 2px 5px #c6c6c6;
  border-radius: 20px;
  padding: 10px 0px;
}
.plat__head {
  width: 90%;
  margin: auto;
  font-weight: 700;
  font-size: 1em;
}
.plat__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5px auto 0px auto;
  font-size: 0.9em;
}
.plat__description__detail {
  width: auto;
}
.plat__description__prix {
  width: auto;
  font-weight: 700;
}
.plat__check {
  display: none;
}

.btn-cmd {
  text-align: center;
  background-color: #f6f6f6;
  font-weight: 400;
  color: white;
  border-radius: 30px;
  padding: 15px 20px;
  background: linear-gradient(350deg, #9356DC, #9356DC 5%, #FF79DA);
  width: auto;
  box-shadow: 0px 3px 5px #c6c6c6;
  width: 50%;
  margin: 50px auto 0px auto;
}

/*# sourceMappingURL=style.css.map */
