@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  width: 100%;
  font-family: Roboto;
}

html, body {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #f6f6f6;
  font-family: Shrikhand;
  font-size: 1.5em;
  font-weight: 500;
  width: 90%;
  margin: 0px auto;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  width: 90%;
  margin: 0px auto;
  padding-top: 10px;
}

header {
  height: 65px;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  padding: 20px 0px 10px 0px;
  z-index: 30;
  inset: 0;
  background-color: white;
}

.header {
  position: relative;
}
.header__logo {
  width: 180px;
  height: 50px;
}
.header__btn-retour {
  top: 25px;
  left: 20px;
  position: absolute;
  width: auto;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  background: linear-gradient(to bottom, #cfcfcf, #eaeaea 5px, #eaeaea);
  padding: 15px 0px;
}
.localisation__logo {
  width: 12px;
  color: #353535;
  margin-right: 15px;
}
.localisation__saisie {
  width: auto;
}
.localisation__saisie input {
  width: 135px;
  border: none;
  color: #353535;
  background-color: #eaeaea;
  font-size: 1em;
  font-family: Roboto;
  font-weight: 600;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.presentation__head {
  width: 65%;
  font-size: 1.5em;
  font-weight: 900;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.presentation__description {
  width: 90%;
  font: 300 1.1em Roboto;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.presentation__bouton_exp {
  margin: 35px 0px 55px 0px;
  font-weight: 400;
  border-radius: 30px;
  background: linear-gradient(350deg, #9356dc, #9356dc 5%, #ff79da);
  box-shadow: 0px 3px 5px #c6c6c6;
  text-align: center;
  width: auto;
  position: relative;
  z-index: 1;
}
.presentation__bouton_exp a {
  padding: 15px 20px;
  color: white;
}
.presentation__bouton_exp:hover {
  background: linear-gradient(350deg, #a16be0, #a16be0 5%, #ff93e1);
  box-shadow: 3px 3px 5px #a2a2a2;
}

.fonctionnement {
  width: 90%;
  margin: auto;
}
.fonctionnement__head {
  font-size: 1.5em;
  font-weight: 900;
  margin: 50px 0px 10px 0px;
}
.fonctionnement__etapes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 65px;
}

.etape {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.etape__numero {
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  position: absolute;
  left: -10px;
  display: flex;
}
.etape__numero > span {
  width: auto;
  margin: auto;
}
.etape__texte {
  height: auto;
  font-weight: 700;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 25px 0px 25px 0px;
  box-shadow: 2px 2px 5px #c6c6c6;
}
.etape__texte:hover {
  background-color: #e4d5f6;
}
.etape__texte:hover i::before {
  color: #9356dc;
}
.etape__texte i {
  width: auto;
  height: auto;
}
.etape__texte i::before {
  margin: 0px 20px 0px 30px;
  color: #7e7e7e;
}

@media all and (min-device-width: 1100px) {
  .fonctionnement__etapes {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }

  .etape__texte {
    text-align: center;
  }
}
@media all and (min-device-width: 450px) and (max-device-width: 1100px) {
  .etape {
    max-width: 350px;
  }
  .etape__texte {
    text-align: center;
  }

  .fonctionnement__head {
    text-align: center;
  }
  .fonctionnement__etapes {
    align-items: center;
  }
}
.restaurants {
  width: 90%;
  margin: auto;
}
.restaurants__head {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 25px;
}
.restaurants__liste {
  row-gap: 15px;
}

.restaurant {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #c6c6c6;
  position: relative;
  margin-bottom: 15px;
}
.restaurant__image {
  border-radius: 20px 20px 0px 0px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  height: 175px;
  width: 100%;
}
.restaurant__head {
  font-weight: 800;
  font-size: 1em;
  width: 90%;
  margin: auto;
  padding: 20px 0px 5px 0px;
}
.restaurant__localisation {
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 20px;
  width: 90%;
  margin: 0px auto;
}
.restaurant__like i {
  position: absolute;
  width: auto;
  bottom: 30px;
  right: 25px;
  font-size: 1.3em;
}
.restaurant__like--checked {
  opacity: 0;
  z-index: 9;
  background: linear-gradient(210deg, #9356dc, #9356dc 5%, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__like--unchecked {
  opacity: 1;
  z-index: 10;
}
.restaurant__like--unchecked:hover {
  animation: uncheck-like 600ms ease-in-out;
  animation-fill-mode: forwards;
}
.restaurant__like--unchecked:hover ~ .restaurant__like--checked {
  animation: check-like 600ms ease-in-out;
  animation-fill-mode: forwards;
}
.restaurant__nouveau {
  font-size: 0.8em;
  font-weight: 600;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  top: 12px;
  right: 12px;
  width: auto;
  padding: 5px;
  border-radius: 2px;
}

@keyframes check-like {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes uncheck-like {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media all and (min-device-width: 450px) and (max-device-width: 1100px) {
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .restaurant {
    max-width: 48%;
  }
}
@media all and (min-device-width: 1100px) {
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
}
.footer {
  width: 100%;
  margin: auto;
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}
.footer__head {
  width: 90%;
  margin: auto;
  font-family: Shrikhand;
  padding: 20px 0px;
}
.footer__liste {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 300;
}
.footer__liste i {
  width: 20px;
  margin-right: 5px;
}
.footer__liste--bold {
  font-weight: 500;
}
.footer__liste a {
  color: white;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 80px;
}
.menu__image {
  display: inline-block;
  background-position: center;
  background-size: cover;
  height: 255px;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 2;
}
.menu__base {
  z-index: 20;
  position: relative;
  background: #f6f6f6;
  margin-top: 210px;
  border-radius: 20px 20px 0px 0px;
}
.menu__head {
  top: 230px;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 0px;
}
.menu__head > i {
  position: absolute;
  width: 16px;
  margin: auto 0px;
  top: 40px;
  right: 20px;
}

.titre-liste {
  width: 100%;
  padding-bottom: 10px;
}
.titre-liste__trait {
  height: 3px;
  width: 40px;
  margin-left: 5%;
  background-color: #99e2d0;
}

.service {
  width: 100%;
  row-gap: 10px;
  padding-bottom: 8px;
}

.plat {
  background-color: white;
  width: 90%;
  margin: 0px auto 15px auto;
  box-shadow: 2px 2px 5px #c6c6c6;
  border-radius: 20px;
  padding: 10px 0px;
}
.plat__head {
  width: 90%;
  margin: auto;
  font-weight: 700;
  font-size: 1em;
}
.plat__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5px auto 0px auto;
  font-size: 0.9em;
}
.plat__description__detail {
  width: auto;
}
.plat__description__prix {
  width: auto;
  font-weight: 700;
}
.plat__check {
  display: none;
}

.btn-cmd {
  text-align: center;
  font-weight: 400;
  border-radius: 30px;
  background: linear-gradient(350deg, #9356dc, #9356dc 5%, #ff79da);
  box-shadow: 0px 3px 5px #c6c6c6;
  text-align: center;
  width: auto;
  background-color: #f6f6f6;
  margin: 50px auto 0px auto;
  width: 50%;
}
.btn-cmd a {
  padding: 15px 20px;
  color: white;
}
.btn-cmd:hover {
  background: linear-gradient(350deg, #a16be0, #a16be0 5%, #ff93e1);
  box-shadow: 3px 3px 5px #a2a2a2;
}

/*Animations*/
.service:nth-child(1) {
  animation: display_service 700ms ease-in-out;
  animation-fill-mode: both;
}

.service:nth-child(2) {
  animation: display_service 700ms ease-in-out 700ms;
  animation-fill-mode: both;
}

.service:nth-child(3) {
  animation: display_service 700ms ease-in-out 1400ms;
  animation-fill-mode: both;
}

@keyframes display_service {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media all and (min-device-width: 450px) and (max-device-width: 1100px) {
  .ensemble_services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-around;
  }

  .service {
    max-width: 48%;
  }

  .menu__image {
    height: 450px;
  }
  .menu__base {
    margin-top: 410px;
  }
}
@media all and (min-device-width: 1100px) {
  .ensemble_services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.loader {
  position: fixed;
  inset: 0;
  color: black;
  background-color: white;
  z-index: 20;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  animation: disp-load 2000ms;
  animation-fill-mode: forwards;
}
.loader__head {
  margin-top: 200px;
  font-family: Shrikhand;
  font-size: 1.5em;
}
.loader__texte {
  margin-top: 2%;
  font-size: 1em;
}
.loader__logo {
  margin-top: 3%;
  font-size: 2em;
  color: #9356dc;
  animation: loading-spin 2000ms;
}
.loader__bar {
  height: 100%;
  background: linear-gradient(350deg, #9356dc, #9356dc 5%, #ff79da);
  animation: load-bar 2000ms ease-in-out;
  animation-fill-mode: both;
  transform-origin: 0% 50%;
}
.loader__bar_border {
  width: 66%;
  max-width: 1000px;
  height: 10px;
  margin: 3% auto 0px auto;
  border: solid black;
  padding: 1px;
}

@media all and (min-device-width: 1100px) {
  .loader__head {
    font-size: 2em;
  }
  .loader__texte {
    font-size: 1.2em;
  }
  .loader__bar_border {
    height: 20px;
  }
}
@media all and (min-device-width: 450px) and (max-device-width: 1100px) {
  .loader__head {
    font-size: 3em;
  }
  .loader__texte {
    font-size: 1.5em;
  }
}
@keyframes loading-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1.5turn);
  }
}
@keyframes disp-load {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load-bar {
  0% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

/*# sourceMappingURL=style.css.map */
