.footer{
    width:100%;
    margin:auto;
    background-color: $color-grey-dark;
    color:white;
    padding-bottom:30px;
    &__head{
        width: 90%;
        margin:auto;
        font-family: map-get($font-family,font-title);
        padding:20px 0px;
    }
    &__liste{
        i{
            width: 20px;
            margin-right:5px;
        }
        width:90%;
        display: flex;
        flex-direction: row;
        margin:auto;
        padding-bottom:10px;
        font-family: map-get($font-family,font-texte);
        font-weight:300;
        &--bold{
            font-weight:500;
        }
        a{
            color:white;
        }
    }
}