.loader {
    position: fixed;
    inset: 0;
    color:black;
    background-color: white;
    z-index: 20;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    text-align:center;
    width:100%;
    animation: disp-load $load-duration;
    animation-fill-mode: forwards;
    &__head{
        margin-top: 200px;
        font-family: map-get($font-family, font-title );
        font-size:1.5em;
    }
    &__texte{
        margin-top:2%;
        font-size:1em;
    }
    &__logo{
        margin-top:3%;
        font-size:2em;
        color:$color-primary;
        animation: loading-spin $load-duration;

    }
    &__bar {


        &_border{
            width:66%;
            max-width: 1000px;
            height:10px;
            margin: 3% auto 0px auto;
            border: solid black;
            padding:1px;
            
        }
        height: 100%;

        background: linear-gradient(350deg,$color-primary,$color-primary 5%, $color-secondary);;
        animation:load-bar $load-duration ease-in-out;
        animation-fill-mode: both;
        transform-origin: 0% 50%;
    }
}


@media all and (min-device-width: map-get($breakpoints, desktop )){
    .loader {
        &__head{

            font-size:2em;
        }
        &__texte{
            font-size:1.2em;
        }
        &__bar{
            &_border{
            height:20px;
            }
        }
    }
}

@media all and (min-device-width: map-get($breakpoints, tablette )) and (max-device-width:map-get($breakpoints, desktop )){
    .loader {
        &__head{

            font-size:3em;
        }
        &__texte{
            font-size:1.5em;
        }
    }
}


@keyframes loading-spin{
    from {
        transform: rotate(0);   
    }
    to {
        transform: rotate(1.5turn);
    }
}

@keyframes disp-load{
    0% {
        opacity:1;   
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@keyframes load-bar{
    0%{
        transform:scaleX(0);
    }
    75%{
        transform:scaleX(1);
    }
    100%{
        transform:scaleX(1);
    }
}