@mixin main-btn{
    font-weight: 700;
    color:white;
    border-radius: 30px;
    padding:15px 20px;
    background: linear-gradient(350deg,$color-primary,$color-primary 5%, $color-secondary);
    width: auto;
    box-shadow: 0px 3px 5px #c6c6c6;
}
@mixin main-head{
    font-size: map-get($font-size, size-main-head );
    font-weight:900 ;
}

@mixin shadow-grey{
    box-shadow: 0px 3px 5px #c6c6c6;
}